# 2.2 Valus and Data Types

A value is one of the fundamental things.

We can use a function called type which can tell the class of the variable.

In [1]:
print(type("Hello"))
print(type(17))

<class 'str'>
<class 'int'>

In [2]:
print(type(5.634))

<class 'float'>

Numbers with a decimal point belong to a class called float.

In [5]:
print(type(3.2))

<class 'float'>

"17" is in quotation marks like strings.

In [6]:
print(type("17"))

<class 'str'>

# 2.3 Type conversion functions

## conversion example

In [3]:
print(3.14, int(3.14))

3.14 3

In [4]:
print(int("45cans"))

ValueError: invalid literal for int() with base 10: '45cans'

# 2.9 Order of operations

In [1]:
print(2 ** 3 ** 2)

512

In [ ]:
print( (2 ** 3) )